@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/* font-family: 'Montserrat', sans-serif;*/

/* *{
  border: 1px solid red;
} */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  min-height: 100vh;
  
 
  /* background: linear-gradient(180deg, #0A0909 54.48%, #ECC300 97.71%); */
  /* background: linear-gradient(180deg, #0A0909 54.48%, #ECC300 97.71%); */
  /* background: conic-gradient(from 90deg at 33.49% 50.05%, #1D1B1A -59.13deg, #121111 1.87deg, #121111 106.54deg, #ECC300 127.15deg, #020102 235.58deg, #1D1B1A 300.87deg, #121111 361.87deg); */
  /* background: radial-gradient(52.08% 158.97% at -3.05% 104%, #ECC300 0%, #121111 66.09%) warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */
}

#root {
  min-height: 100vh;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
:root {
 
  --yellow: #ecc300;
  --black: #121111;
  --white: #ece7d4;
}