@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/* font-family: 'Montserrat', sans-serif;*/

/* *{
  border: 1px solid red;
} */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  min-height: 100vh;
  
 
  /* background: linear-gradient(180deg, #0A0909 54.48%, #ECC300 97.71%); */
  /* background: linear-gradient(180deg, #0A0909 54.48%, #ECC300 97.71%); */
  /* background: conic-gradient(from 90deg at 33.49% 50.05%, #1D1B1A -59.13deg, #121111 1.87deg, #121111 106.54deg, #ECC300 127.15deg, #020102 235.58deg, #1D1B1A 300.87deg, #121111 361.87deg); */
  /* background: radial-gradient(52.08% 158.97% at -3.05% 104%, #ECC300 0%, #121111 66.09%) warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */
}

#root {
  min-height: 100vh;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
:root {
 
  --yellow: #ecc300;
  --black: #121111;
  --white: #ece7d4;
}

/* navbar */

.navbar {
  background-color: var(--black);
  padding: 1% 0;
  display: flex;
}

.container {
  padding: 0 2%;
  width: 100%;
}

.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--yellow);
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: medium;
}

/* .nav-list_item {
} */

.nav-list_link {
  color: var(--yellow);
  text-decoration: none;
  -webkit-text-stroke-width: thin;
  font-size: 16px;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list_link{
  position: relative;
}

.nav-list_link--active::before {
  content: ""; 

  position: absolute;
  left: 0;
  top: 100%;
 
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--yellow);
}

.navbar a{
  color: var(--yellow);
  -webkit-text-stroke-width: thin;
  font-size: 16px;
}

/* header */

.header {
  /* position: absolute; */
  height: 92vh;
  /* height: 800px; */
  background-attachment: local, scroll;
  background-position: bottom;

  background-color: var(--black);
  color: var(--yellow);
  background-image: url("../img/header.png");
  background-size: cover;
}
/* 
.header__container {
  
} */

.header__row {
  /* height: 484px; */
  margin-top: 24%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 5%;/* 50px; */
}

.button__row {
  /* margin-right: 221px;
  height: 121px; */
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 5%;
  margin-top: 11%;
}
.btn {
  /* width: 196px;
  height: 58px;
  border-radius: 29px; */

  background: #ffd300;
  color: #1a1a19;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;

  box-shadow: -5px 7px 5px black;
  /* text-align: center;
  padding: 5px 7px;
  
  text-decoration: none; */

  
}
.btn_rel{
  text-decoration: none;
}

.first_header_column {
  /* flex: 50%; */
  padding: 0 1% 0 0%;
}
.second_header_column {
  /* flex: 50%; */
  /* left: 5%; */
  color: #d0cfca;
}


.home_body{
  background: linear-gradient(180deg, #1D1B1B 0%, #000000 59.46%, #927900 83.82%, #ECC300 100%);
  /* min-height: 100vh; */
}


/* div about us */

.about_us {
  /* background: radial-gradient(
    70.44% 858.97% at 85.21% 45.5%,
    #1c1b1b 55.25%,
    #131212 71.32%,
    #020101 100%
  ); */
  height: fit-content;
  color: #e2e5cf;
}

.about_container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
  width: fit-content;
}

.first_about_column {
  width: 80%;
}

.second_about_column {
  margin:5%;
  width: 20%;
}

.about__title {

  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
/* 
  font-size: calc(1rem + 1.23vw);
  line-height: calc(2rem + -0.77vw); */

  align-items: center;
  text-align: center;
  color: var(--yellow);
}
.about__text {
  
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  /* font-size: calc(0.5rem + 1.23vw);
  line-height: calc(0.7rem + 1.23vw); */

  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 1%;
}

/* third div  */
.for_whom {
  /* width: fit-content; */
  /* height: 600px; */
  /* left: 0px; */
  /* top: 1600px;  */
  width: 100%;
  height: 100%;

  /* background: linear-gradient(
    86.21deg,
    var(--yellow) 9.19%,
    #030202 23.98%,
    #0d0c0c 46.9%,
    #1d1c1c 59.51%
  ); */
}

.for_whom__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5% 5% 5% 5%; */
}
.for_whom__container img {
  width: 35%;
  height: 100%;
}
/* 
.for_whom__container_image {
  width: 625px;
  height: 600px;

  background: url(../img/fruits.png);
} */

.for_whom__container_text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;



  padding: 0% 7% 0 0;
  gap: 10px;
  width: 100%;
}
.for_whom__text {
  font-weight: 300;
  font-size: 24px;
    line-height: 30px;

    /* font-size: calc(0.5rem + 1.23vw);
    line-height: calc(0.7rem + 1.23vw); */

    text-decoration: none;
    color: #e2e5cf;

  text-decoration: none;
  /* color: var(--white); */
}

/* a:not([class])  */
.for_whom__text a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: var(--yellow);
}

/* footer */

.footer {
  width: 100%;
  height: auto;
  /* width: 1900; */
  /* height: 500px; */
  /* background-color: #1d1c1c; */
  background-color: var(--black);
  padding: 2% 1%;
}
.footer__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* height: 400px; */
  /* padding: 5% 15%; */
  background-color: var(--black);
  /* align-items: center; */
}

.footer__topline {
  background-color: var(--yellow);
  height: 4px;
  width: 100%;
  /* width: 1000px; */
  align-items: center;
  /* justify-content: center; */
}
.footer__information {
  display: flex;
  flex-direction: row;
  margin: 1% 0 3%;
}
.footer__logos {
  display: flex;
  flex-direction: column;
  /* padding-top: 1%; */
  width: 30%;
  font-weight: 600;
  font-size: 32px;
  /* gap: 20px; */
  line-height: 39px;
  color: var(--yellow);
  align-items: center;
  justify-content: flex-start;
}

.footer__logos img {
  padding-top: 1%;
  width: 158px;
  height: 158px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* padding: 5%; */
  width: 70%;
  /* margin-left: 20%; */
  margin: 2% 5% 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #d5d8c4;
}
.footer__contacts_location {
  display: flex;
  flex-direction: row;
}

.footer__contacts_number {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

.footer__contacts img {
  width: 24px;
  margin-right: 20px;
}

.footer__bottomline {
  background-color: #7a6500;
  height: 1px;
  width: 100%;
  align-items: center;
}

.footer__contacts_location img {
  width: 20px;
}
.footer__contacts_other {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 8%;
  width: 100%;
}
.footer__contacts_other_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #ece8d7;

  mix-blend-mode: normal;
  opacity: 0.5;
  justify-content: center;
  margin-top: 1%;
  margin-right: 15%;

  white-space: nowrap;
}
.footer__text_under_bottomline {
  padding: 0% 11%;

  mix-blend-mode: normal;
  opacity: 0.5;

  text-decoration: none;
}
.footer__pages_list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10%;
}

/* .footer__pages_list ul{
  display: flex;
  justify-content: left;
  gap: 10%;
} */
.footer__page a {
  text-decoration: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #ece8d7;
}
