@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");


.product {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  /* font-family: "Open Sans", sans-serif; */
  background: #ffffff;
  padding: 4%;

  font-weight: 500;
  font-size: 20px;

  /* --color-bor:  #ffcf0085; */
  --color-bor: rgba(18, 17, 17, 0.1);

}
.product_img {
  width: 40%;
  margin-top: 1%;
}
.container__product {
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}
.container__product_info {
  margin-left: 3%;
  width: 70%;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #121111;
}

.container__product_info_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_params {
  /* padding: 2% 0%; */
  border-top: 4px solid var(--color-bor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
}
.product_param {
  padding: 1% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #e5e5e54a;
}

.container__product_name {

  font-weight: 700;
  font-size: 40px;
  line-height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  padding: 0% 0% 1%;
}

.make_bid_title {
  margin-top: 1%;
  /* font-family: "Open Sans"; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-transform: capitalize;
}
.make_bid_fields {
  padding: 2% 0%;
  border-top: 4px solid var(--color-bor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.make_bid_field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
input {
  box-sizing: border-box;

  width: 45%;
  height: 34px;

  text-align: end;

  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 59px;
}
.auto_bid {
  box-sizing: border-box;

  width: 20px;
  height: 20px;

  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.make_bid_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button {
  /* position: relative;
  right: 3%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block-end: 4px;
  gap: 10px;
  width: 177px;
  height: 38px;
  background: #ffd72b;
  /* box-shadow: 0px 0px 4px rgb(0 0 0 / 25%); */
  border-radius: 39px;
  color: white;
  border: #ffd00000;
}
.value strong{
  font-weight: 700;
}
.container__bids_history_title{
  font-size: 34px;
  font-weight: 700;
}
.current_bid{
  border-top: 4px solid var(--color-bor);
font-weight: 700;
font-size: 24px;
line-height: 40px;
}