.auction_create
{
   
}
.form-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
form{
    /* padding: 5%; */
    margin: 2% 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
form img{
    width: 100%;
    
}

input[type="file"]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block-end: 4px;
    /* gap: 10px; */
    /* width: 177px; */
    /* height: 38px; */
    background: #ffd72b;
    /* box-shadow: 0px 0px 4px rgb(0 0 0 / 25%); */
    border-radius: 39px;
    color: white;
    border: #ffd00000;
}
input{
    border: none;
    outline: none;
    border-radius: 0px;
    margin: -6px 0 0 0;
    width: 100%;
    border-bottom: 2px solid rgb(0 0 0 / 3%);
    text-align: start;

}
select{
    outline: none;
    border: none;
    /* text-align: right; */
    width: 20%;
}